<h1>About</h1>
<p>
	<%= link_to "Vittle me that!", "http://vittlemethat.com" %> is a space to put that plate of yours on a pedestal. Show us a 10 minute meal you just whipped up, your nearly picture perfect Julia Child Boeuf Bourguignon, or the mouth-watering Special of the Day from a local hole in the wall. And-- when you need inspiration, check out what everyone else is eating!
</p>
<p>
	Vittle me that! 
</p>
<p>
Here-- you can share and find your next repast. 
</p>
<p>
	(Delishhhh!)
</p>


