<div class="hero-unit">
		<h1>Vittle me this?</h1>
	<p>
		Sure-- 
		<%= link_to "Vittle", "http://en.wiktionary.org/wiki/vittle" %>
		 me that! and sign me up.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-large" %>
	</p>
</div>

